.flex {
    height: 500px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.red{
    background-color: red;
    height: 100px;
    width: 100px;
    transition: 1s;
}
.red:hover {
    border-radius: 50%;
    background-color: grey;
    transition: 0.5s;
}